html {
    background-color: seagreen;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    height: 100%;
}
body{
  margin: 0;
  border: 0;
  height: 100%;
}
p{
  line-height: 2;
  letter-spacing: 1px;
}
a{
  color:#f4f4ef;
}


#logo{
  display: block;
  
  margin-left: 9.8%;
  margin-right: 10.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: auto;

  @media (max-width: 600px) {
    width: 80px;
  }
}

#album{
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 220px;
  height: auto;
}

.flexrow{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

#middle{
    flex: 2;
}

#last{
    flex: 1;
}

#block1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  background-color: #A01D26;
  padding:0;
  margin:0;
}

#block2{
    display: flex;
    flex: 1;
  background-color: #20232a;
  color: #f4f4ef;
  text-align: center;
  justify-content: center;
}

#block3{
    display: flexbox;
  background-color: #acbebe;
  text-align: center;
  justify-content: center;
}

#block4{
    display: flex;
    flex: 9;
  background-color: #20232a;
  color:#f4f4ef;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#block5{
    display: flex;
    min-height: auto;
    flex-grow: 1;
  background-color: #f4f4ef;
  font-size: large;
  text-align: center;
  justify-content: center;
}

#block6{
    display: flex;
  background-color: #acbebe;
  text-align: center;
  justify-content: center;
}

#block7{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  background-color: #A01D26;
  text-align: start;
  justify-content: space-between;
  padding-right: 4.2%;
  min-height: 72px;
}

.blocks{
  align-items: center;
  padding: 5px;
  flex-shrink: 0;
  flex-wrap: wrap;
  word-break: break-word;
}

#text1{
  display: flexbox;
  flex: 5;
  justify-content: end;
  text-align: end;
  word-break: break-word;
  max-width: 29%;
  padding-right: 5px;
  flex-shrink: 0;
}

#forbox{
  display: flexbox;
    flex: 5;
    max-width: 30%;
    padding-right: 0;
    padding-left: 0;
    margin:0;
}

#box1{
  display: flexbox;
  text-align: start;
  align-items: center;
  background-color: #f4f4ef;
  height: max-content;
  width: 83%;
  word-break: break-word;
  padding-right: 0;
  
  flex-shrink: 0;
  margin-top: 4.17%;
  margin-bottom: 4.17%;
  margin-left: 14%;
  margin-right: 0;
}

#text2{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 0px;
  max-width: 40%;
}

#box2{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  background-color: #f4f4ef;
  word-break: break-word;
  flex-wrap: wrap;
  height: min-content;
  width: 40%;
  max-width: 25.5%;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
}
